.container {
  margin-top: 100px;
  text-align: center;
}

.container .refresh_button {
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.container .mining_button {
  margin-bottom: 50px;
}

.icon_container {
  margin-top: 200px;
  margin-left: 50%;
  margin-right: auto;
}

.block {
  margin-bottom:  60px
}